PORT=5000
FRONTEND_ORIGIN=http://localhost:3000

JWT_SECRET=12345678

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=SunnySQL@1234
DB_NAME=ticket_management
DB_PORT=3306

CLOUDINARY_CLOUD_NAME=bjm8bnkm
CLOUDINARY_API_KEY=432928514953925
CLOUDINARY_API_SECRET=bg2PjSZV1hjb52JEmKlHdf3WWNk